<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <link rel="stylesheet" type="text/css" href="../stylesheets/reset.css"/>
        <link rel="stylesheet" type="text/css" href="../stylesheets/main.css"/>
        <link rel="stylesheet" type="text/css" href="../stylesheets/article.css"/>
        <title>6174's blog</title>
    </head>
<body>
   <div class="page-article">
        <nav class="site-nav" >
            <div class="ui breadcrumb" >
                <a href="http://6174.github.io/blog/">archive</a>
            </div>
        </nav>
        <div class="fixcontainer">
            <article class="article">
                <header class="post-header">
                    <h1 class="post-title"><%= title %></h1>
                    <section class="post-meta">
                        <a class="post-author" target="_blank" href="http://www.weibo.com/2254313183/profile"> &lt;6174/&gt;</a>
                        创建于
                        <time class="post-date"><%= date %></time>
                    </section>
                    <hr/>
                </header>
                <section class="post-content">
                    <%- content %>
                </section>
                <h4 class="ui horizontal header divider">
                    &lt;6174/&gt;
                </h4>
                <div id="disqus_thread"></div>
            </article>

            <script type="text/javascript">
                /* * * CONFIGURATION VARIABLES * * */
                var disqus_shortname = '6174';
                
                /* * * DON'T EDIT BELOW THIS LINE * * */
                (function() {
                    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
            <script>
            var _hmt = _hmt || [];
            (function() {
              var hm = document.createElement("script");
              hm.src = "//hm.baidu.com/hm.js?7b14384bfb6605e915ae92e70b916417";
              var s = document.getElementsByTagName("script")[0]; 
              s.parentNode.insertBefore(hm, s);
            })();
            </script>

        </div>

   </div>  
</body>
</html>