<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <link rel="stylesheet" type="text/css" href="./stylesheets/reset.css"/>
        <link rel="stylesheet" type="text/css" href="./stylesheets/main.css"/>
        <link rel="stylesheet" type="text/css" href="./stylesheets/article.css"/>
        <title>6174's blog</title>
    </head>
<body>
<nav class="site-nav" >
    <div class="ui breadcrumb" >
        <a href="http://6174.github.io/blog/">archive</a>
    </div>
</nav>

<div class="fixcontainer">
        <article class="article">
        	<style>
        		li {
        			margin: 15px 0;
        		}
        		.author {
        			font-size: 45px;
				  font-family: monospace;
                  margin-left: 16px;
                  font-weight: normal;
                  color: rgb(179, 179, 179);
                }
                .author b {
    				  color: rgb(61, 61, 61);
                    font-size: 50px;
                    font-weight: bold;
                }
        	</style>
			<h1><a class="author" target="_blank" href="http://www.weibo.com/2254313183/profile"> 
                &lt;<b>6174</b>/&gt
            </a></h1>
			<ul>
				<% list.forEach(function(it){ %>
					<li><a href="http://6174.github.io/blog/articles/<%=it.pos%>.html"><%= it.title %></a></li>
					
				<% }) %>
			</ul>
		</article>

        <script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?7b14384bfb6605e915ae92e70b916417";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>

</div>
</body>
