/* Get the bourbon mixin from http://bourbon.io */
/* Reset */
.flip-clock-wrapper * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}
.flip-clock-wrapper a {
  cursor: pointer;
  text-decoration: none;
  color: #ccc;
}
.flip-clock-wrapper a:hover {
  color: #fff;
}
.flip-clock-wrapper ul {
  list-style: none;
}
.flip-clock-wrapper.clearfix:before,
.flip-clock-wrapper.clearfix:after {
  content: " ";
  display: table;
}
.flip-clock-wrapper.clearfix:after {
  clear: both;
}
.flip-clock-wrapper.clearfix {
  *zoom: 1;
}
/* Main */
.flip-clock-wrapper {
  font: normal 11px "Helvetica Neue", Helvetica, sans-serif;
  -webkit-user-select: none;
}
.flip-clock-meridium {
  background: none !important;
  box-shadow: 0 0 0 !important;
  font-size: 36px !important;
}
.flip-clock-meridium a {
  color: #313333;
}
.flip-clock-wrapper {
  text-align: center;
  position: relative;
  width: 100%;
  margin: 1em;
}
.flip-clock-wrapper:before,
.flip-clock-wrapper:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.flip-clock-wrapper:after {
  clear: both;
}
/* Skeleton */
.flip-clock-wrapper ul {
  position: relative;
  float: left;
  margin: 5px;
  width: 30px;
  height: 45px;
  font-size: 40px;
  font-weight: bold;
  line-height: 1.2;
  border-radius: 6px;
  background: #000;
}
.flip-clock-wrapper ul li {
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  text-decoration: none !important;
}
.flip-clock-wrapper ul li:first-child {
  z-index: 2;
}
.flip-clock-wrapper ul li a {
  display: block;
  height: 100%;
  -webkit-perspective: 200px;
  -moz-perspective: 200px;
  perspective: 200px;
  margin: 0 !important;
  overflow: visible !important;
  cursor: default !important;
}
.flip-clock-wrapper ul li a div {
  z-index: 1;
  position: absolute;
  left: 0;
  width: 100%;
  height: 50%;
  font-size: 40px;
  overflow: hidden;
}
.flip-clock-wrapper ul li a div .shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.flip-clock-wrapper ul li a div.up {
  -webkit-transform-origin: 50% 100%;
  -moz-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  -o-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  top: 0;
}
.flip-clock-wrapper ul li a div.up:after {
  content: "";
  position: absolute;
  top: 44px;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 3px;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.4);
}
.flip-clock-wrapper ul li a div.down {
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  -o-transform-origin: 50% 0;
  transform-origin: 50% 0;
  bottom: 0;
}
.flip-clock-wrapper ul li a div div.inn {
  position: absolute;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 200%;
  color: #ccc;
  text-shadow: 0 1px 2px #000;
  text-align: center;
  background-color: #333;
  border-radius: 6px;
  font-size: 40px;
}
.flip-clock-wrapper ul li a div.up div.inn {
  top: 0;
}
.flip-clock-wrapper ul li a div.down div.inn {
  bottom: 0;
}
/* PLAY */
.flip-clock-wrapper ul.play li.flip-clock-before {
  z-index: 3;
}
.flip-clock-wrapper .flip {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.7);
}
.flip-clock-wrapper ul.play li.flip-clock-active {
  -webkit-animation: asd 0.5s 0.5s linear both;
  -moz-animation: asd 0.5s 0.5s linear both;
  animation: asd 0.5s 0.5s linear both;
  z-index: 5;
}
.flip-clock-divider {
  float: left;
  display: inline-block;
  position: relative;
  width: 20px;
  height: 57px;
}
.flip-clock-divider:first-child {
  width: 0;
}
.flip-clock-dot {
  display: block;
  background: #323434;
  width: 10px;
  height: 10px;
  position: absolute;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  left: 5px;
}
.flip-clock-divider .flip-clock-label {
  position: absolute;
  top: -1.5em;
  right: -86px;
  color: black;
  text-shadow: none;
}
.flip-clock-divider.minutes .flip-clock-label {
  right: -88px;
}
.flip-clock-divider.seconds .flip-clock-label {
  right: -91px;
}
.flip-clock-dot.top {
  top: 30px;
}
.flip-clock-dot.bottom {
  bottom: 30px;
}
@-webkit-keyframes asd {
  0% {
    z-index: 2;
  }
  20% {
    z-index: 4;
  }
  100% {
    z-index: 4;
  }
}
@-moz-keyframes asd {
  0% {
    z-index: 2;
  }
  20% {
    z-index: 4;
  }
  100% {
    z-index: 4;
  }
}
@-o-keyframes asd {
  0% {
    z-index: 2;
  }
  20% {
    z-index: 4;
  }
  100% {
    z-index: 4;
  }
}
@keyframes asd {
  0% {
    z-index: 2;
  }
  20% {
    z-index: 4;
  }
  100% {
    z-index: 4;
  }
}
.flip-clock-wrapper ul.play li.flip-clock-active .down {
  z-index: 2;
  -webkit-animation: turn 0.5s 0.5s linear both;
  -moz-animation: turn 0.5s 0.5s linear both;
  animation: turn 0.5s 0.5s linear both;
}
@-webkit-keyframes turn {
  0% {
    -webkit-transform: rotateX(90deg);
  }
  100% {
    -webkit-transform: rotateX(0deg);
  }
}
@-moz-keyframes turn {
  0% {
    -moz-transform: rotateX(90deg);
  }
  100% {
    -moz-transform: rotateX(0deg);
  }
}
@-o-keyframes turn {
  0% {
    -o-transform: rotateX(90deg);
  }
  100% {
    -o-transform: rotateX(0deg);
  }
}
@keyframes turn {
  0% {
    transform: rotateX(90deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}
.flip-clock-wrapper ul.play li.flip-clock-before .up {
  z-index: 2;
  -webkit-animation: turn2 0.5s linear both;
  -moz-animation: turn2 0.5s linear both;
  animation: turn2 0.5s linear both;
}
@-webkit-keyframes turn2 {
  0% {
    -webkit-transform: rotateX(0deg);
  }
  100% {
    -webkit-transform: rotateX(-90deg);
  }
}
@-moz-keyframes turn2 {
  0% {
    -moz-transform: rotateX(0deg);
  }
  100% {
    -moz-transform: rotateX(-90deg);
  }
}
@-o-keyframes turn2 {
  0% {
    -o-transform: rotateX(0deg);
  }
  100% {
    -o-transform: rotateX(-90deg);
  }
}
@keyframes turn2 {
  0% {
    transform: rotateX(0deg);
  }
  100% {
    transform: rotateX(-90deg);
  }
}
.flip-clock-wrapper ul li.flip-clock-active {
  z-index: 3;
}
/* SHADOW */
.flip-clock-wrapper ul.play li.flip-clock-before .up .shadow {
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, black 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.1)), color-stop(100%, black));
  background: linear, top, rgba(0, 0, 0, 0.1) 0%, black 100%;
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, black 100%);
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, black 100%);
  background: linear, to bottom, rgba(0, 0, 0, 0.1) 0%, black 100%;
  -webkit-animation: show 0.5s linear both;
  -moz-animation: show 0.5s linear both;
  animation: show 0.5s linear both;
}
.flip-clock-wrapper ul.play li.flip-clock-active .up .shadow {
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, black 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.1)), color-stop(100%, black));
  background: linear, top, rgba(0, 0, 0, 0.1) 0%, black 100%;
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, black 100%);
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, black 100%);
  background: linear, to bottom, rgba(0, 0, 0, 0.1) 0%, black 100%;
  -webkit-animation: hide 0.5s 0.3s linear both;
  -moz-animation: hide 0.5s 0.3s linear both;
  animation: hide 0.5s 0.3s linear both;
}
/*DOWN*/
.flip-clock-wrapper ul.play li.flip-clock-before .down .shadow {
  background: -moz-linear-gradient(top, black 0%, rgba(0, 0, 0, 0.1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, black), color-stop(100%, rgba(0, 0, 0, 0.1)));
  background: linear, top, black 0%, rgba(0, 0, 0, 0.1) 100%;
  background: -o-linear-gradient(top, black 0%, rgba(0, 0, 0, 0.1) 100%);
  background: -ms-linear-gradient(top, black 0%, rgba(0, 0, 0, 0.1) 100%);
  background: linear, to bottom, black 0%, rgba(0, 0, 0, 0.1) 100%;
  -webkit-animation: show 0.5s linear both;
  -moz-animation: show 0.5s linear both;
  animation: show 0.5s linear both;
}
.flip-clock-wrapper ul.play li.flip-clock-active .down .shadow {
  background: -moz-linear-gradient(top, black 0%, rgba(0, 0, 0, 0.1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, black), color-stop(100%, rgba(0, 0, 0, 0.1)));
  background: linear, top, black 0%, rgba(0, 0, 0, 0.1) 100%;
  background: -o-linear-gradient(top, black 0%, rgba(0, 0, 0, 0.1) 100%);
  background: -ms-linear-gradient(top, black 0%, rgba(0, 0, 0, 0.1) 100%);
  background: linear, to bottom, black 0%, rgba(0, 0, 0, 0.1) 100%;
  -webkit-animation: hide 0.5s 0.3s linear both;
  -moz-animation: hide 0.5s 0.3s linear both;
  animation: hide 0.5s 0.2s linear both;
}
@-webkit-keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes hide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes hide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-o-keyframes hide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes hide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/** 
 * 项目页面
 */
.page.project .fixcontainer {
  max-width: 650px;
  width: auto;
}
.page.project header.project-header {
  padding: 60px 0 30px;
}
.page.project header.project-header .project-title {
  font-family: -webkit-pictograph;
  font-size: 40px;
  text-align: center;
  font-weight: bold;
}
.page.project header.project-header .project-description {
  margin-top: 30px;
  text-align: center;
  color: #999;
  font-size: 14px;
  font-family: cursive;
}
.page.project .pmenu .item {
  position: relative;
  top: 2px;
  padding: 10px 0 !important;
  margin: 0 20px !important;
}
.page.project .pmenu .item:first-child {
  margin-left: 0px !important;
}
.page.project .tags {
  margin-top: 40px;
}
.page.project article {
  padding-top: 40px;
  padding-bottom: 60px;
}
.article-item {
  padding: 15px 9px;
  color: #222;
  border-bottom: solid 1px whitesmoke;
}
.article-item .klass,
.article-item .activity {
  width: 100px;
  text-align: center;
}
.article-item .activity {
  text-align: right;
  font-size: 14px;
  color: #666;
}
.article-item .topic {
  margin-left: 12px;
}
.article-item .indicator {
  width: 24px;
  height: 24px;
  border-radius: 24px;
  background: lightgray;
  border: gray;
}
.article-item a {
  color: #333;
}
.countdown-clock {
  text-align: center;
  margin-top: 20px;
  font-size: 13px;
  font-weight: bold;
  font-family: -webkit-pictograph;
  color: #999;
}
.countdown-clock .flip-clock-label {
  display: none;
}
.countdown-clock .flip-clock-divider,
.countdown-clock ul {
  display: inline-block !important;
  float: none !important;
}
/**
 * project menu
 */
.project-menu {
  width: 70px;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  background: white;
  border-right: solid 1px #dddddd;
}
.project-menu > ul {
  height: 100%;
  position: relative;
}
.project-menu ul,
.project-menu li {
  padding: 0px;
  margin: 0px;
}
.project-menu a {
  color: #666;
}
.project-menu li {
  padding: 30px 0;
  text-align: center;
  font-size: 11px;
  color: #666;
  border-bottom: solid 1px #efefef;
  color: #4f4f4f;
}
.project-menu li .icon {
  font-size: 17px;
}
.project-menu li.logo {
  font-weight: bold;
  text-align: center;
  color: white;
  font-size: 17px;
  background: #458ac6;
  padding: 17px;
}
.project-menu li.user {
  position: absolute;
  bottom: 0px;
  width: 100%;
  border-top: solid 1px #efefef;
  padding: 15px 0;
}
.page.pmenu {
  margin-left: 70px;
}
/**
 * 用户页面
 */
.page.userspace > header.user {
  text-align: center;
  padding-top: 100px;
  line-height: 1.2;
}
.page.userspace > header.user .avatar {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  border: solid 3px #e2e2e2;
  display: inline-block;
  position: relative;
}
.page.userspace > header.user .avatar > a {
  background: url('http://tp4.sinaimg.cn/2254313183/180/40058795208/1');
  background-size: cover;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 50px;
  background-position: center;
}
.page.userspace > header.user .name {
  font-size: 26px;
  font-weight: bold;
  line-height: 1.8;
}
.page.userspace > header.user .intro {
  color: #666;
  font-size: 14px;
}
.page.userspace > header.user .social {
  margin: 10px 0 30px;
}
.page.userspace > header.user .social .social-item {
  width: 30px;
  height: 30px;
  display: inline-block;
  border-radius: 15px;
  line-height: 30px;
  text-align: center;
  background: #333;
  color: white;
  margin: 0 3px;
}
.page.userspace > header.user .social .social-item i {
  margin-right: 0px;
}
.page.userspace > nav.tabs {
  text-align: center;
  margin: 0 auto  30px;
  max-width: 600px;
}
.page.userspace > nav.tabs .menu {
  border-radius: 0;
}
.page.userspace > .project-list > .inner {
  max-width: 600px;
  margin: 30px auto;
}
.page.userspace > .project-list .project-item .divider {
  margin: 30px 0;
  font-size: 12px;
  color: #666;
}
.page.userspace > .project-list .project-item-cover {
  position: relative;
  overflow: hidden;
  height: 250px;
  width: 100%;
}
.page.userspace > .project-list .project-item-cover a.cover {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 1;
  background: url(http://i1.15yan.guokr.cn/3d1lu2p58midgflx8c3tp60ssuz6cp69.jpg!minipreface);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: transform 1s linear, opacity 1s ease-in-out;
}
.page.userspace > .project-list .project-item-cover a.cover:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  background: rgba(0, 0, 0, 0.1);
  transition: opacity 1s ease-in-out;
}
.page.userspace > .project-list .project-item-cover:hover .cover {
  transform: scale(1.02);
}
.page.userspace > .project-list .project-item-cover:hover .cover:after {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.8) 100%);
}
.page.userspace > .project-list .project-item-cover .content {
  position: absolute;
  color: white;
  margin: 20px;
  bottom: 20px;
}
.page.userspace > .project-list .project-item-cover .content .name {
  font-size: 24px;
  font-weight: bold;
}
.page.userspace > .project-list .project-item-cover .content .description {
  color: #eee;
  font-size: 15px;
}
.page.userspace .create-project-form {
  max-width: 600px;
  margin: auto;
  margin-top: 60px;
}
.page.userspace .create-project-form label {
  display: block;
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: bold;
}
.page.userspace .create-project-form input {
  background: none;
  border: none;
  outline: none;
  border-bottom: solid 1px whitesmoke;
  margin-bottom: 30px;
  padding: 5px;
  font-size: 14px;
  width: 100%;
}
.page.userspace .create-project-form .button {
  border-radius: 0px;
  background: #2d72f0;
}
.page.userspace .create-project-form img.project-cover {
  max-width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
}
article {
  font-family: Merriweather, serif;
}
article h1,
article h2,
article h3,
article h4,
article h5,
article h6 {
  -webkit-font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;
  -moz-font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;
  -o-font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;
  color: #111;
  line-height: 1.6;
  margin: 1em 0;
}
article h1 {
  font-size: 2.125rem;
  letter-spacing: -2px;
  text-indent: -3px;
}
article p {
  line-height: 1.8 !important;
}
article a {
  color: #00bcd4;
  transition: color ease 0.3s;
}
article a:hover {
  color: #008fa1;
}
article dl,
article ol,
article p,
article ul {
  -webkit-font-feature-settings: 'liga' 1, 'onum' 1, 'kern' 1;
  -moz-font-feature-settings: 'liga' 1, 'onum' 1, 'kern' 1;
  -o-font-feature-settings: 'liga' 1, 'onum' 1, 'kern' 1;
  margin: 0 0 rem-calc(17.5);
}
article ol,
article ul {
  padding-left: rem-calc(30);
}
article ol ol,
article ol ul,
article ul ol,
article ul ul {
  margin: 0 0 rem-calc(4);
  padding-left: rem-calc(20);
}
article dl dt {
  float: left;
  width: 180px;
  overflow: hidden;
  clear: left;
  text-align: right;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 700;
  margin-bottom: 1em;
}
article dl dd {
  margin-left: rem-calc(200);
  margin-bottom: rem-calc(10);
}
article li {
  margin: rem-calc(4) 0;
}
article li li {
  margin: 0;
}
article hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: #efefef 1px solid;
  margin: rem-calc(32) 0;
  padding: 0;
}
article blockquote {
  box-sizing: border-box;
  margin: 1.75em 0 1.75em -2.2em;
  padding: 0 0 0 1.75em;
  border-left: 0.4em solid #4a4a4a;
}
article blockquote p {
  margin: rem-calc(8) 0;
  font-style: italic;
}
article blockquote small {
  display: inline-block;
  margin: .8em 0 .8em 1.5em;
  font-size: 9px;
  font-size: .5625rem;
  color: #cccccc;
}
article blockquote small:before {
  content: "\2014 \00A0";
}
article blockquote cite {
  font-weight: 700;
}
article blockquote cite a {
  font-weight: 400;
}
article code,
article tt {
  padding: 1px 3px;
  font-family: Inconsolata, monospace, sans-serif;
  font-size: 16px;
  font-size: 1rem;
  white-space: pre-wrap;
  border: 1px solid #e3edf3;
  background: #f7fafb;
  border-radius: 2px;
}
article pre {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 0 1.75em;
  border: 1px solid #e3edf3;
  width: 100%;
  font-family: Inconsolata, monospace, sans-serif;
  font-size: 16px;
  font-size: 1rem;
  white-space: pre;
  overflow: auto;
  background: #f7fafb;
  border-radius: 3px;
  padding: 10px;
}
article pre code,
article tt {
  font-size: inherit;
  white-space: pre-wrap;
  background: 0 0;
  border: none;
  padding: 0;
}
body,
html {
  background: white;
}
html {
  font-size: 16px;
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
}
body {
  letter-spacing: .01rem;
  font-family: "Avenir Next", Avenir, "Helvetica Neue", Helvetica, "Lantinghei SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", "STHeiti", "WenQuanYi Micro Hei", SimSun, sans-serif;
  background: white;
  font-size: 16px;
  font-size: 1.12rem;
  line-height: 1.4;
  color: #3a4145;
  -webkit-font-feature-settings: 'kern' 1;
  -moz-font-feature-settings: 'kern' 1;
  -o-font-feature-settings: 'kern' 1;
}
::-moz-selection {
  background: #d6edff;
}
::selection {
  background: #d6edff;
}
/**
 * common 
 */
.page,
.page > .inner {
  width: 100%;
  background: white;
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.inline-block {
  display: inline-block;
}
.fixcontainer {
  width: 900px;
  margin: auto;
}
.clearfix {
  overflow: hidden;
}
.tag {
  line-height: 14px;
  border-radius: 10px;
  padding: 3px 5px;
  margin: 4px;
  font-size: 12px;
  display: inline-block;
  border: solid 1px lightgray;
  cursor: pointer;
}
.site-nav {
  height: 8px;
  background: #f56b6b;
  position: relative;
  transition: height 0.2s ease-in-out;
}
.site-nav .breadcrumb {
  transition: all 0.2s ease-in-out;
  transition-delay: .1s;
  opacity: 0;
  font-size: 14px;
  margin: 3px 20px;
  color: white;
  position: relative;
  top: -30px;
}
.site-nav .breadcrumb a {
  color: white;
}
.site-nav .breadcrumb a:hover {
  color: #333;
}
.site-nav:hover,
.site-nav.fixed {
  height: 30px;
}
.site-nav:hover .breadcrumb,
.site-nav.fixed .breadcrumb {
  opacity: 1;
  top: 0px;
}
.mui-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.mui-flex,
.mui-flex *,
.mui-flex :after,
.mui-flex :before {
  box-sizing: border-box;
}
.mui-flex.vertical {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.mui-flex.vertical.reverse {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: column-reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
}
.mui-flex.vertical > .cell > .inner {
  position: absolute;
  width: 100%;
  height: 100%;
}
.mui-flex.horizental {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}
.mui-flex.reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
.mui-flex.justify-start {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.mui-flex.justify-end {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.mui-flex.justify-center {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.mui-flex.justify-between {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.mui-flex.justify-around {
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
.mui-flex.align-start {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.mui-flex.align-end {
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}
.mui-flex.align-center {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.mui-flex.align-stretch {
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}
.mui-flex.align-stretch .cell {
  height: auto !important;
}
.mui-flex.center {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.mui-flex > .cell {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-flex-basis: 0;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  max-width: 100%;
  padding: 0!important;
  position: relative;
}
.mui-flex > .cell.fixed {
  -webkit-box-flex: 0!important;
  -webkit-flex: none!important;
  -ms-flex: none!important;
  flex: none !important;
}
.mui-flex > .cell.align-start {
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
}
.mui-flex > .cell.align-end {
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
}
.mui-flex > .cell.align-center {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
}
.mui-flex > .cell.align-stretch {
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  height: auto !important;
}
.mui-flex .image-box {
  height: 0;
  padding-bottom: 100%;
  position: relative;
}
.mui-flex .image-box > img {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
}
.mui-flex > .cell-12 {
  -webkit-flex-basis: 100%;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  max-width: 100%;
}
.mui-flex > .order-12 {
  -webkit-box-ordinal-group: 13;
  -webkit-order: 12;
  -ms-flex-order: 12;
  order: 12;
}
.mui-flex > .cell-11 {
  -webkit-flex-basis: 91.66666667%;
  -ms-flex-preferred-size: 91.66666667%;
  flex-basis: 91.66666667%;
  max-width: 91.66666667%;
}
.mui-flex > .order-11 {
  -webkit-box-ordinal-group: 12;
  -webkit-order: 11;
  -ms-flex-order: 11;
  order: 11;
}
.mui-flex > .cell-10 {
  -webkit-flex-basis: 83.33333333%;
  -ms-flex-preferred-size: 83.33333333%;
  flex-basis: 83.33333333%;
  max-width: 83.33333333%;
}
.mui-flex > .order-10 {
  -webkit-box-ordinal-group: 11;
  -webkit-order: 10;
  -ms-flex-order: 10;
  order: 10;
}
.mui-flex > .cell-9 {
  -webkit-flex-basis: 75%;
  -ms-flex-preferred-size: 75%;
  flex-basis: 75%;
  max-width: 75%;
}
.mui-flex > .order-9 {
  -webkit-box-ordinal-group: 10;
  -webkit-order: 9;
  -ms-flex-order: 9;
  order: 9;
}
.mui-flex > .cell-8 {
  -webkit-flex-basis: 66.66666667%;
  -ms-flex-preferred-size: 66.66666667%;
  flex-basis: 66.66666667%;
  max-width: 66.66666667%;
}
.mui-flex > .order-8 {
  -webkit-box-ordinal-group: 9;
  -webkit-order: 8;
  -ms-flex-order: 8;
  order: 8;
}
.mui-flex > .cell-7 {
  -webkit-flex-basis: 58.33333333%;
  -ms-flex-preferred-size: 58.33333333%;
  flex-basis: 58.33333333%;
  max-width: 58.33333333%;
}
.mui-flex > .order-7 {
  -webkit-box-ordinal-group: 8;
  -webkit-order: 7;
  -ms-flex-order: 7;
  order: 7;
}
.mui-flex > .cell-6 {
  -webkit-flex-basis: 50%;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  max-width: 50%;
}
.mui-flex > .order-6 {
  -webkit-box-ordinal-group: 7;
  -webkit-order: 6;
  -ms-flex-order: 6;
  order: 6;
}
.mui-flex > .cell-5 {
  -webkit-flex-basis: 41.66666667%;
  -ms-flex-preferred-size: 41.66666667%;
  flex-basis: 41.66666667%;
  max-width: 41.66666667%;
}
.mui-flex > .order-5 {
  -webkit-box-ordinal-group: 6;
  -webkit-order: 5;
  -ms-flex-order: 5;
  order: 5;
}
.mui-flex > .cell-4 {
  -webkit-flex-basis: 33.33333333%;
  -ms-flex-preferred-size: 33.33333333%;
  flex-basis: 33.33333333%;
  max-width: 33.33333333%;
}
.mui-flex > .order-4 {
  -webkit-box-ordinal-group: 5;
  -webkit-order: 4;
  -ms-flex-order: 4;
  order: 4;
}
.mui-flex > .cell-3 {
  -webkit-flex-basis: 25%;
  -ms-flex-preferred-size: 25%;
  flex-basis: 25%;
  max-width: 25%;
}
.mui-flex > .order-3 {
  -webkit-box-ordinal-group: 4;
  -webkit-order: 3;
  -ms-flex-order: 3;
  order: 3;
}
.mui-flex > .cell-2 {
  -webkit-flex-basis: 16.66666667%;
  -ms-flex-preferred-size: 16.66666667%;
  flex-basis: 16.66666667%;
  max-width: 16.66666667%;
}
.mui-flex > .order-2 {
  -webkit-box-ordinal-group: 3;
  -webkit-order: 2;
  -ms-flex-order: 2;
  order: 2;
}
.mui-flex > .cell-1 {
  -webkit-flex-basis: 8.33333333%;
  -ms-flex-preferred-size: 8.33333333%;
  flex-basis: 8.33333333%;
  max-width: 8.33333333%;
}
.mui-flex > .order-1 {
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
}


/*

Original style from softwaremaniacs.org (c) Ivan Sagalaev <Maniac@SoftwareManiacs.Org>

*/

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #f0f0f0;
  -webkit-text-size-adjust: none;
}

.hljs,
.hljs-subst,
.hljs-tag .hljs-title,
.nginx .hljs-title {
  color: black;
}

.hljs-string,
.hljs-title,
.hljs-constant,
.hljs-parent,
.hljs-tag .hljs-value,
.hljs-rule .hljs-value,
.hljs-preprocessor,
.hljs-pragma,
.hljs-name,
.haml .hljs-symbol,
.ruby .hljs-symbol,
.ruby .hljs-symbol .hljs-string,
.hljs-template_tag,
.django .hljs-variable,
.smalltalk .hljs-class,
.hljs-addition,
.hljs-flow,
.hljs-stream,
.bash .hljs-variable,
.pf .hljs-variable,
.apache .hljs-tag,
.apache .hljs-cbracket,
.tex .hljs-command,
.tex .hljs-special,
.erlang_repl .hljs-function_or_atom,
.asciidoc .hljs-header,
.markdown .hljs-header,
.coffeescript .hljs-attribute {
  color: #800;
}

.smartquote,
.hljs-comment,
.hljs-annotation,
.diff .hljs-header,
.hljs-chunk,
.asciidoc .hljs-blockquote,
.markdown .hljs-blockquote {
  color: #888;
}

.hljs-number,
.hljs-date,
.hljs-regexp,
.hljs-literal,
.hljs-hexcolor,
.smalltalk .hljs-symbol,
.smalltalk .hljs-char,
.go .hljs-constant,
.hljs-change,
.lasso .hljs-variable,
.makefile .hljs-variable,
.asciidoc .hljs-bullet,
.markdown .hljs-bullet,
.asciidoc .hljs-link_url,
.markdown .hljs-link_url {
  color: #080;
}

.hljs-label,
.hljs-javadoc,
.ruby .hljs-string,
.hljs-decorator,
.hljs-filter .hljs-argument,
.hljs-localvars,
.hljs-array,
.hljs-attr_selector,
.hljs-important,
.hljs-pseudo,
.hljs-pi,
.haml .hljs-bullet,
.hljs-doctype,
.hljs-deletion,
.hljs-envvar,
.hljs-shebang,
.apache .hljs-sqbracket,
.nginx .hljs-built_in,
.tex .hljs-formula,
.erlang_repl .hljs-reserved,
.hljs-prompt,
.asciidoc .hljs-link_label,
.markdown .hljs-link_label,
.vhdl .hljs-attribute,
.clojure .hljs-attribute,
.asciidoc .hljs-attribute,
.lasso .hljs-attribute,
.coffeescript .hljs-property,
.hljs-phony {
  color: #88f;
}

.hljs-keyword,
.hljs-id,
.hljs-title,
.hljs-built_in,
.css .hljs-tag,
.hljs-javadoctag,
.hljs-phpdoc,
.hljs-dartdoc,
.hljs-yardoctag,
.smalltalk .hljs-class,
.hljs-winutils,
.bash .hljs-variable,
.pf .hljs-variable,
.apache .hljs-tag,
.hljs-type,
.hljs-typename,
.tex .hljs-command,
.asciidoc .hljs-strong,
.markdown .hljs-strong,
.hljs-request,
.hljs-status {
  font-weight: bold;
}

.asciidoc .hljs-emphasis,
.markdown .hljs-emphasis {
  font-style: italic;
}

.nginx .hljs-built_in {
  font-weight: normal;
}

.coffeescript .javascript,
.javascript .xml,
.lasso .markup,
.tex .hljs-formula,
.xml .javascript,
.xml .vbscript,
.xml .css,
.xml .hljs-cdata {
  opacity: 0.5;
}
